h1{
    text-align:center;
    color:white;
    font-family: 'Poppins', sans-serif;
}

.p1{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    margin-left:25%;
    margin-right:25%;
    color:white;
    line-height: normal;

}

